:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    height: 800px;
    max-width: 1000px;
    overflow: auto;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    height: auto;
    width: auto;
    padding: 1em;
    border: 1px solid #ddd;
    /* text-align: center; */
}

input[type="color"] {
    -webkit-appearance: none;
    position: absolute;
    height: 20px;
    margin-top: 0px;
    margin-left: 4px;
    border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
}